{% extends 'kookaburra.html.twig' %}

{% set moduleName = 'System Admin' %}
{% set module = {
    baseURL: 'system_admin',
    crumbs: [
        {uri: 'system_admin__system_settings', name: 'System Admin'},
    ],
    title: 'Manage String Replacements'} %}
{% set breadcrumbs = 'new' %}

{% block content %}
    <h2>{{ 'Search'|trans }}</h3>
    <form action="{{ path('system_admin__string_replacement_manage') }}" method="GET" autocomplete="on" enctype="multipart/form-data" class="noIntBorder fullWidth" id="searchForm">
        <table class="noIntBorder fullWidth relative" cellspacing="0">
            <tbody>
                <tr id="" class=" flex flex-col sm:flex-row justify-between content-center p-0">
                    <td class="flex flex-col flex-grow justify-center -mb-1 sm:mb-0  px-2 border-b-0 sm:border-b border-t-0 ">
                        <label for="search" class="inline-block mt-4 sm:my-1 sm:max-w-xs font-bold text-sm sm:text-xs">{{ 'Search For'|trans }} <br><span class="text-xxs text-gray-600 italic font-normal mt-1 sm:mt-0">{{ 'Original string, replacement string.'|trans }}</span></label>
                    </td>
                    <td class="w-full max-w-full sm:max-w-xs flex justify-end items-center px-2 border-b-0 sm:border-b border-t-0 ">
                        <div class="flex-1 relative"><input value="{{ search }}" type="text" id="search" name="search" class="w-full"></div>
                    </td>
                </tr>
                <tr id="" class=" flex flex-col sm:flex-row justify-between content-center p-0">
                    <td class="flex-grow justify-center px-2 border-b-0 sm:border-b border-t-0 right" colspan="2">
                        <a href="{{ path('system_admin__string_replacement_manage') }}" title="{{ 'Clear Search'|trans }}" class="right"><span class="fas fa-search-minus fa-fw fa-2x text-gray-700"></span></a>
                        <a href="#" class="right" onclick="document.getElementById('searchForm').submit()" title="{{ 'Search'|trans }}"><span class="fas fa-search fa-fw fa-2x text-gray-700"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <h2>{{ 'View'|trans }}<a title="{{ 'Add'|trans }}" style="float:right; font-size: 1.25rem" href="{{ path('system_admin__string_replacement_edit', {stringReplacement: 'Add'}) }}"><span class="fas fa-plus-circle fa-fw text-gray-700"></span></a></h2>
        <section id="paginationContent"></section>
{% endblock content %}
